#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#artist-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.leaflet-container {
  left: 0;
  top: 0;
  filter: invert(100%);
}

.venue-shows-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 65px;
  margin-right: 100px;
}

.venue-shows {
  width: 400px;
  height: 500px;
  border: 2px solid lightgray;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}