#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.artist-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.leaflet-container {
  left: 0;
  top: 0;
  filter: invert(100%);
}

.venue-shows-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 65px;
  margin-right: 100px;
}

.venue-shows {
  width: 400px;
  height: 500px;
  border: 2px solid lightgray;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}

.popup-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9); /* Dims the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-overlay.active {
  transform: translateY(0);
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: none;
}

.map-blocker {
  position: absolute;
  inset: 0;
  z-index: 999;
}