#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.artist-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.leaflet-container {
  left: 0;
  top: 0;
  filter: invert(100%);
}

.map-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  padding-bottom: 550px;
  width: 70%;
  overflow: hidden;
}

.map-container MapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.venue-shows-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 2;
  margin-top: 20px;
  margin-right: 200px;
}

.venue-shows {
  width: 400px;
  height: 500px;
  border: 2px solid lightgray;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}

.popup-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9); /* Dims the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-overlay.active {
  transform: translateY(0);
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: none;
}

.map-blocker {
  position: absolute;
  inset: 0;
  z-index: 999;
}

.clients-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clients-section-create-show {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  padding: 20px;
}

.create-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.create-btn {
  width: 150px;
  height: 60px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(46, 46, 97);
}

.button {
  width: 150px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(46, 46, 97);
  z-index: 999;
}

.back-button-container {
  padding-top: 20px;
}

.create-btn:hover, 
.button:hover {
  background-color: rgb(255, 98, 0);
  transition: all 0.3s ease;
}

.clients-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}



.artists-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.open-mic-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}

h2 {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 80px;
  border: 2px solid rgb(187, 180, 180);
  border-radius: 30px;
}

.profile-container:hover {
  background-color: rgb(109, 109, 246);
  transition: all 0.3s ease;
}

.client-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.client-button {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(59, 45, 125);
}

.client-button:hover {
  background-color: rgb(248, 103, 0);
  transition: all 0.3s ease;
}

.client-button-delete {
  width: 150px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(59, 45, 125);
}

.client-button-delete:hover {
  background-color: rgb(248, 0, 0);
  transition: all 0.3s ease;
}

.gig-filter-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 30px;
}

.gig-filter-container h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: left;
  padding-top: 20px;
}

.filter-group {
  width: 80%;
}

.filter-group p {
  padding-left: 10px;
  text-transform: none;
  font-style: italic;
}

.create-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  width: 300px;
  z-index: 1000;
}

.create-container h2 {
  text-align: left;
  padding-top: 20px;
}

.radio-options {
  display: flex;
  gap: 10px;
}

.submit-btn {
  font-size: 1rem;
  position: relative;
  width: 80%;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(59, 45, 125);
  text-decoration: none;
}

.submit-btn-open-mic {
  font-size: 1rem;
  position: relative;
  width: 20%;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(59, 45, 125);
  text-decoration: none;
}

.submit-btn-open-mic-edits {
  font-size: 1rem;
  position: relative;
  width: 40%;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(59, 45, 125);
  text-decoration: none;
}

.submit-btn a,
.submit-btn-open-mic a,
.submit-btn-open-mic-edits a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.submit-btn:after,
.submit-btn-open-mic:after,
.submit-btn-open-mic-edits:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ff5e00;
  transition: all 0.35s;
  border-radius: 4px;
}

.submit-btn:hover,
.submit-btn-open-mic:hover,
.submit-btn-open-mic-edits:hover {
  color: #fff;
}

.submit-btn:hover:after,
.submit-btn-open-mic:hover:after,
.submit-btn-open-mic-edits:hover:after {
  width: 100%;
}

.create-container-open-mic {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  width: 600px;
}

.create-container-open-mic h2 {
  text-align: left;
}

.create-open-mic-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.open-mic-not-recurring,
.open-mic-is-recurring {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.shows-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}

.artist-show-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.artist-show-container:hover {
  background-color: rgb(68, 68, 184);
}

.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.signin-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(188, 188, 188);
  padding: 40px 0;
}

.signin-form h2 {
  color: rgb(255, 162, 0);
}